<p id="notice"><%= notice %></p>

<p>
  <strong>Chemicalname:</strong>
  <%= @pbpkmodel.chemicalname %>
</p>

<%= link_to 'Edit', edit_pbpkmodel_path(@pbpkmodel) %> |
<%= link_to 'Back', pbpkmodels_path %>
