<configuration>
    <configSections>
        <sectionGroup name="jnbridge">
            <section name="dotNetToJavaConfig"
                     type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="javaToDotNetConfig"
                     type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="tcpNoDelay"
                    type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="javaSideDeclarations"
                     type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <section name="assemblyList"
                     type="com.jnbridge.jnbcore.AssemblyListHandler, JNBShare, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b18a44fb28aea122" />
        </sectionGroup>
    </configSections>
    <jnbridge>
        <dotNetToJavaConfig
     		scheme="sharedmem"
		jvm="C:\Program Files\Java\jdk1.5.0_09\jre\bin\server\jvm.dll"
		jnbcore="C:\Program Files\JNBridge\JNBridgePro v3.0\jnbcore\jnbcore.jar"
		bcel="C:\Program Files\JNBridge\JNBridgePro v3.0\jnbcore\bcel-5.1-jnbridge.jar"
		classpath="jnbtools.jar;MarvinBeans.jar;aloe.jar"/>
    </jnbridge>
</configuration>
